<div  layout="column" flex class="accueil"  style="background-color: rgb(34,34,34);">
    <div layout="row" flex="90"  layout-wrap class="med_xs">

        <div  ng-if="categories" flex="20" flex-xs="100" layout="column" class="prof" style="background-color: rgb(51,54,64);
        overflow-y: auto;border-right: 2px solid rgb(5,170,245);" >
            <div flex="15">
                <div flex>
                    <input ng-model="searchcat"  class="reduceSize" style="text-align: center" placeholder="entrer la recherche">
                </div>
            </div>
                    <h5  style="font-size: 18px;cursor:pointer;padding-left: 10px;" ng-click="trisgen();">Catégories</h5>
                    <div  flex="75" style="overflow-y: auto;">
                        <ul>
                            <li ng-repeat="cat in filteredcategories=( categories |filterBy: ['nom','description']:searchcat) "  style="cursor:pointer;">
                                <div ng-click="tris(cat);">
                                    {{ cat.nom }}

                                </div>
                                <div>
                                    <md-button class="card-button" ng-click="ajoutermedia(cat)" aria-label="a">
                                        <md-tooltip>Ajouter un média a la catégorie</md-tooltip>
                                        <md-icon  md-svg-src="../../image/add.svg" class="card-icon"></md-icon>
                                    </md-button>
                                    <md-button permission="['admin']" class="card-button" ng-click="modifiercat(cat)" aria-label="a">
                                        <md-tooltip>Modifier la catégorie</md-tooltip>
                                        <md-icon  md-svg-src="../../image/create-new-pencil-button.svg" class="card-icon"></md-icon>
                                    </md-button>
                                    <md-button permission="['admin']" class="card-button" ng-click="showConfirmdecat($event, cat)" aria-label="a">
                                        <md-tooltip>Supprimer la catégorie</md-tooltip>
                                        <md-icon md-svg-src="../../image/rubbish-bin-delete-button.svg" class="card-icon"></md-icon>
                                    </md-button>
                                </div>

                            </li>
                        </ul>
                    </div>
            <div flex="75" ng-if="categorie" layout="column" style="background-color: rgb(51,54,64);overflow: auto;border-right: 2px solid rgb(5,170,245);" hide-xs>
                <div flex="5"></div>
                <div flex="10">
                    Nom:{{categorie.nom}}
                    <md-divider></md-divider>
                </div>
                <div flex="60">Description:{{categorie.description}}
                    <md-divider></md-divider>
                </div>
                <div flex="10"> {{categorie.length}} &nbsp;médias
                    <md-divider></md-divider>
                </div>
            </div>
        </div>
        <div flex="20" flex-xs="100" ng-if="categorie" layout="column" class="prof md-padding" style="background-color: rgb(51,54,64);overflow: auto;border-right: 2px solid rgb(5,170,245);" >
            <div flex="5"></div>
            <div flex="10" ><h1 >Catégorie</h1></div>
            <div flex="15" >
               <u class="descriptioncat_med">Nom:</u>  <br> {{categorie.nom}}
                <md-divider></md-divider>
            </div>
            <div flex="25">
                <u class="descriptioncat_med">Description:</u><br>
                {{categorie.description}}
                <md-divider></md-divider>
            </div>
            <div flex="5"> {{categorie.medias.length}} &nbsp; médias
                <md-divider></md-divider>
            </div>

        </div>

        <div  layout="column" flex="80" flex-xs="100" ng-hide="afficheMedia || affichemodifcat || affichecreeMedia"  >
            <div flex="10">
                <div flex >
                    <input ng-model="searchmed"  class="reduceSize" style="text-align: center"  placeholder="entrer la recherche">
                </div>
            </div>
            <div flex="80"  layout="row" layout-wrap class="med_xss" layout-xs="row" layout-align-xs="center center">
                <div   layout="column" ng-repeat="med in medias" flex-xs="100" flex-sm="50" flex-md="30" flex="20">
                    <div  class='md-padding pacard' style="margin-left: 20px;">
                        <md-card class="card" style="color:black;">
                            <md-card-title style="width: 100px;height: 100px;padding: 0px 14px;margin-left: 0em;">
                                <md-card-title-text layout="column"  >
                                    <div flex="30" layout="row">
                                        <div flex="25">
                                            <span class="md-headline" style="font-size: 15px">{{med.nom}}</span>
                                        </div>
                                        <div flex="70"></div>
                                        <div flex="10">
                                            <img ng-src="{{med.logo}}" style="width: 40px;height: 40px"  alt="" >
                                        </div>
                                    </div>
                                    <div flex="70" style="width:140px">
                                        <span class="md-subhead" style="font-size: 10px">Lu:{{med.readed}}</span>
                                        <br><br>
                                        <span class="md-subhead" style="font-size: 10px">Télecharger:{{med.downloaded}}</span>
                                        <br><br>
                                                <span class="md-subhead" style="font-size: 10px"><a ng-click="lire(med)" ui-sref="document({id:med._id})" style="cursor:pointer;">{{med.affiche}}</a>
                                                </span>
                                    </div>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-actions layout="row" layout-align="start center" class="cardi">
                                <div ng-init="rating = star.rating + 1" ></div>
                                <div layout="row" class="star-rating" star-rating rating-value="rating" disable="true" readonly="true"
                                     data-max="5" on-rating-selected="rateFunction(rating,med)" ng-click="rate(med);" ng-model="med.rate"
                                     objectId="{{med._id}}" ></div>


                                <md-button permission="['admin']" style="background-color: transparent" class="card-button" ng-click="modifiermedia(med)" aria-label="a">
                                    <md-tooltip>Modifier le média</md-tooltip>
                                    <md-icon  md-svg-src="../../image/create-new-pencil-button.svg" class="card-icon"></md-icon>
                                </md-button>
                                <md-button permission="['admin']" style="background-color: transparent" class="card-button" ng-click="showConfirmdelive($event,med)" aria-label="a">
                                    <md-tooltip>Supprimer le média</md-tooltip>
                                    <md-icon md-svg-src="../../image/rubbish-bin-delete-button.svg" class="card-icon"></md-icon>
                                </md-button>
                                <md-button style="background-color: transparent" class="card-button" ng-click="telecharger(med)" aria-label="a">
                                    <md-tooltip>Télécharger le média</md-tooltip>
                                    <a href="{{med.link}}" download="Download1">
                                        <md-icon  md-svg-src="../../image/download.svg" class="card-icon"></md-icon>
                                    </a>

                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </div>

                </div>
            </div>
            <div flex="10" ng-hide="afficheMedia || affichemodifcat" layout="row">
                <div flex="5"  flex-xs="100" flex-offset-xs="0" flex-offset="85">
                    <wan-material-paging wmp-total="total" goto-page="gotoPage()" position="center" current-page="currentPage" step="step">
                    </wan-material-paging>
                </div>
            </div>


        </div>
        <div layout="column" flex="70" flex-xs="100" ng-show="afficheMedia" style="overflow-y:auto;" layout-padding ng-cloak>
            <md-icon md-svg-src="../../image/left-arrow-in-circular-button.svg" ng-click="modifiermedia()"
                     aria-label="android " style="color: blue;" ></md-icon>
            <form  name="myFormMedia"  ng-submit="mediacreateupdate()">
                <md-content class="md-no-momentum newuser">
                    <md-input-container  class="md-icon-float md-block">
                        <label>Name</label>
                        <md-icon md-svg-src="../../image/menu-button.svg" class="name"></md-icon>
                        <input ng-model="mediae.nom" type="text" placeholder="Nom (Obligatoire)" ng-required="true">
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <md-icon md-svg-src="../../image/photo-camera.svg" class="email"></md-icon>
                        <div flex-xs="100" flex-sm="100" id="logo" name="logo" aria-label="a" value="{{mediae.logo}}" type="file" ngf-drop ngf-select ng-model="mediae.logo" class="drop-box"
                               ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                               accept="image/*" ngf-max-size="10MB"
                               ngf-pattern="'image/*'" >Dropt and select logo </div>
                        <span><img ngf-src="mediae.logo" class="thumb ng-hide" style="height: 35px"></span>
                        <span ng-show="myFormMedia.logo.$error.pattern">Allowed formats are 'image/*' </span>
                        <div ng-messages="myFormMedia.logo.$error" ng-if="myFormMedia.logo.$touched" >
                            <p ng-message="maxSize"> File  must be lower than 10MB..</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <md-icon md-svg-src="../../image/menu-button.svg" class="name"></md-icon>
                        <div flex-xs="100" flex-sm="100" ng-disabled="isShow" ng-click="isShow=false" aria-label="b" id="link" name="link" type="file" ngf-drop ngf-select ng-model="mediae.link" class="drop-box"
                               ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                               accept="image/*,application/pdf,audio/mp3,video/mp4" ngf-max-size="30MB"
                               ngf-pattern="'image/*,application/pdf,audio/mp3,video/mp4'">
                        Dropt and select file </div>
                        <div >
                            <div ng-hide="isShow">
                                <img  ng-src="{{affichemedia}}" width="50" height="50" >
                                <br>
                                <p ng-show="affichemedia=='image/AwesomeAudioLogo.png'">
                                    Audio preview: <audio controls ngf-src="mediae.link" class="thumb ng-hide"></audio>
                                </p>
                                <br>
                                <p ng-show="affichemedia=='image/video.gif'">
                                    Video preview: <video controls ngf-src="mediae.link" class="thumb ng-hide"></video>
                                </p>
                                <br>
                            </div>
                        </div>
                        <span ng-show="myFormMedia.link.$error.pattern">Allowed formats are 'image/*,application/pdf,audio/mp3,video/mp4' </span>
                        <div ng-messages="myFormMedia.link.$error" >
                            <p ng-message="maxSize"> File  must be lower than 30MB..</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Url</label>
                        <md-icon md-svg-src="../../image/menu-button.svg" class="name"></md-icon>
                        <input ng-model="mediae.link" aria-label="c"   class="form-control" accept="text/plain"
                               ngf-pattern="'text/plain'" ng-click="isShow=true" ng-disabled="isShow == false" >
                        <div ng-bind-html="response_data" ng-show="isShow"></div>
                    </md-input-container>

                    <md-input-container  class="md-icon-float md-block">
                        <label>Description</label>
                        <md-icon md-svg-src="../../image/drawing-house-plan.svg" class="name"></md-icon>
                        <input ng-model="mediae.description" type="text" placeholder="Description (Obligatoire)" ng-required="true">
                    </md-input-container>
                    <md-button class="btn btn-info" type="reset">Actualiser</md-button>
                    <md-button class="md-raised md-primary"  type="submit">Envoyer</md-button>
                    <br><br>
                </md-content>
            </form>
        </div>
        <div layout="column" flex="70" flex-xs="100" ng-show="affichecreeMedia" style="overflow-y:auto;" layout-padding ng-cloak>
            <md-icon md-svg-src="../../image/left-arrow-in-circular-button.svg" ng-click="ajoutermedia()"
                     aria-label="android " style="color: blue;" ></md-icon>
            <form  name="FormcreeMedia"  ng-submit="creationmedia()">
                <md-content class="md-no-momentum newuser">
                    <md-input-container  class="md-icon-float md-block">
                        <label>Name</label>
                        <md-icon md-svg-src="../../image/menu-button.svg" class="name"></md-icon>
                        <input ng-model="mediai.nom"  ng-minlength="10" md-maxlength="60"
                               type="text" placeholder="Nom (Obligatoire)" ng-required="true">
                        <div ng-messages="FormcreeMedia.nom.$error">
                            <div ng-message="required">le nom est obligatoire</div>
                            <div ng-message="md-maxlength">la taille ne doit pas dépasser 60</div>
                            <div ng-message="md-minlength">le nom doit être au moins de 10 caractères</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <md-icon md-svg-src="../../image/photo-camera.svg" class="email"></md-icon>
                        <div flex-xs="100" flex-sm="100" name="logo" aria-label="a" value="{{mediai.logo}}" type="file" ngf-drop ngf-select ng-model="mediai.logo" class="drop-box"
                                ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                                accept="image/*" ngf-max-size="10MB"
                                ngf-pattern="'image/*'" >Dropt and select logo </div>
                        <span><img ngf-src="mediae.logo" class="thumb ng-hide" style="height: 35px"></span>
                        <span ng-show="FormcreeMedia.logo.$error.pattern">Allowed formats are 'image/*' </span>
                        <div ng-messages="FormcreeMedia.logo.$error" ng-if="FormcreeMedia.logo.$touched" >
                            <p ng-message="maxSize"> File  must be lower than 10MB..</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <md-icon md-svg-src="../../image/menu-button.svg" class="name"></md-icon>
                        <div flex-xs="100" flex-sm="100" ng-disabled="isShow" ng-click="isShow=false" aria-label="b"  name="link" type="file" ngf-drop ngf-select ng-model="mediai.link" class="drop-box"
                               ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                               accept="image/*,application/pdf,audio/mp3,video/mp4" ngf-max-size="30MB"
                               ngf-pattern="'image/*,application/pdf,audio/mp3,video/mp4'">
                        Dropt and select file </div>
                        <div >
                            <div ng-hide="isShow">
                                <img  ng-src="{{affichemediai}}" width="50" height="50" >
                                <br>
                                <p ng-show="affichemediai=='image/AwesomeAudioLogo.png'">
                                    Audio preview: <audio controls ngf-src="mediai.link" class="thumb ng-hide"></audio>
                                </p>
                                <br>
                                <p ng-show="affichemediai=='image/video.gif'">
                                    Video preview: <video controls ngf-src="mediai.link" class="thumb ng-hide"></video>
                                </p>
                                <br>
                            </div>
                        </div>
                        <span ng-show="FormcreeMedia.link.$error.pattern">Allowed formats are 'image/*,application/pdf,audio/mp3,video/mp4' </span>
                        <div ng-messages="FormcreeMedia.link.$error" >
                            <p ng-message="maxSize"> File  must be lower than 30MB..</p>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <label>Url</label>
                        <md-icon md-svg-src="../../image/menu-button.svg" class="name"></md-icon>
                        <input ng-model="mediai.link" aria-label="c"   class="form-control" accept="text/plain"
                               ngf-pattern="'text/plain'" ng-click="isShow=true" ng-disabled="isShow == false" >
                        <div ng-bind-html="response_data" ng-show="isShow"></div>
                    </md-input-container>
                    <md-input-container  class="md-icon-float md-block">
                        <label>Description</label>
                        <md-icon md-svg-src="../../image/drawing-house-plan.svg" class="name"></md-icon>
                        <input ng-model="mediai.description" type="text"  ng-minlength="14"
                               md-maxlength="60" placeholder="Description (Obligatoire)" ng-required="true">
                        <div ng-messages="FormcreeMedia.nom.$error">
                            <div ng-message="required">la description est obligatoire</div>
                            <div ng-message="md-maxlength">la taille ne doit pas dépasser 60</div>
                            <div ng-message="md-minlength">la description doit être au moins de 7 caractères</div>
                        </div>
                    </md-input-container>
                    <md-button class="btn btn-info" type="reset">Actualiser</md-button>
                    <md-button class="md-raised md-primary" ng-disabled="FormcreeMedia.$invalid" type="submit">Envoyer</md-button>
                    <br><br>
                </md-content>
            </form>
        </div>
        <div layout="column" flex="70" flex-xs="100" ng-show="affichemodifcat" style="overflow-y:auto;" layout-padding ng-cloak>
            <md-icon md-svg-src="../../image/left-arrow-in-circular-button.svg" ng-click="modifiercat()"
                     aria-label="android " style="color: blue;" ></md-icon>
            <form  name="Formcat"  ng-submit="modifiecategorie()">
                <md-content class="md-no-momentum newuser">
                    <md-input-container  class="md-icon-float md-block">
                        <label>Nom</label>
                        <md-icon md-svg-src="../../image/menu-button.svg" class="name"></md-icon>
                        <input ng-model="c.nom" ng-minlength="7"
                               ng-maxlength="60" name="nom"
                               type="text" placeholder="nom (required)" ng-required="true">
                        <div ng-messages="Formcat.nom.$error">
                            <div ng-message="required">le nom est obligatoire</div>
                            <div ng-message="md-maxlength">la taille ne doit pas dépasser 60</div>
                            <div ng-message="md-minlength">le nom doit être au moins de 7 caractères</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-icon-float md-block">
                        <md-icon md-svg-src="../../image/email-filled-closed-envelope.svg" class="email"></md-icon>
                                             <textarea ng-model="c.description" aria-label="un" name="description"
                                                       ng-minlength="10"
                                                       ng-maxlength="150" ng-required="true">
                                             </textarea>
                        <div ng-messages="Formcat.description.$error">
                            <div ng-message="required">le nom est obligatoire</div>
                            <div ng-message="md-maxlength">la taille ne doit pas dépasser 150</div>
                            <div ng-message="md-minlength">la doit être au moins de 10 caractères</div>
                        </div>
                    </md-input-container>
                    <md-button class="md-raised md-primary" type="submit">Envoyer</md-button>
                    <br><br>
                </md-content>
            </form>
        </div>



    </div>



</div>


