<div  layout="column"  flex class="accueil"  style="background-color: rgb(34,34,34);">

    <div flex="60" layout="row" layout-wrap style="margin-left: 25px;" class="med_xs">
        <div layout="column" ng-repeat="c in categories" >
                    <md-card class="cardcatmed">
                        <md-card-title>
                            <md-card-title-text style="cursor:pointer" ui-sref="axgrip.categorie({id:c._id})" layout="column" layout-align="center center">
                                <span class="md-subhead"></span>
                                <span class="md-subhead"  style="color:black;font-size: 15px;cursor:pointer;">Nom:{{c.nom}}</span>
                                <span class="md-subhead" style="font-size: 10px;color:black;">description:{{c.description}}</span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
        </div>
        <div ng-show="categories.length==0">Aucun résultat</div>
    </div>
    <div  flex="10"  layout="row" layout-align="end end">
        <wan-material-paging wmp-total="total" goto-page="gotoPage()" position="center" current-page="currentPage" step="step">
        </wan-material-paging>
    </div>


</div>