<div  layout="column"  flex class="accueil"  style="background-color: rgb(34,34,34);">
    <div flex="10">
        <md-tabs md-selected="selectedTab1" >
            <md-tab flex style="color:white;"  data-ui-sref="axgrip.resultats_recherche.profil">
                <md-tab-label> Profils&nbsp;<span class="result">{{profile}}</span></md-tab-label>
            </md-tab>
            <md-tab  data-ui-sref="axgrip.resultats_recherche.categorie">
                <md-tab-label> Categories &nbsp;<span class="result">{{categories}}</span></md-tab-label>
            </md-tab>
            <md-tab  data-ui-sref="axgrip.resultats_recherche.media">
                <md-tab-label> Médias&nbsp; <span class="result">{{medias}}</span></md-tab-label>
            </md-tab>
            <md-tab  data-ui-sref="axgrip.resultats_recherche.groupe">
                <md-tab-label> groups&nbsp;<span class="result">{{groups}}</span></md-tab-label>
            </md-tab>
            <md-tab  data-ui-sref="axgrip.resultats_recherche.user">
                <md-tab-label> Utilisateurs&nbsp; <span class="result">{{users}}</span></md-tab-label>
            </md-tab>
        </md-tabs>
    </div>
</div>