<html>
<head>
  <title>Biblioteque virtuelle!</title>
  <meta name="viewport" content="width=device-width">
 <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,500,700,400italic">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">

  <link href='https://fonts.googleapis.com/css?family=Lato:100italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>-->
  <link rel="shortcut icon" type="image/x-icon" href="image/favicon.ico" />
  <link rel="stylesheet" href="font-awesome-4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="vendor/jquery-ui/themes/base/jquery-ui.min.css">
  <link rel="stylesheet" href="vendor/jquery-ui/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="vendor/jquery-multiselect/jquery.multiselect.css">
  <link rel="stylesheet" href="vendor/angular-loading-bar/build/loading-bar.min.css">
  <link href="vendor/ng-img-crop/source/scss/ng-img-crop.scss">
  <link rel="stylesheet" href="vendor/angular-material/angular-material.css">
<!--  <link rel="stylesheet" href="vendor/ngPopover/js/ngPopover.min.js">-->

  <link rel="stylesheet" href="vendor/angular-material-paging/src/angular-material-paging.css">
  <link rel="stylesheet" href="css/axgrip.css">


</head>
<body ng-app="bv" ng-controller="AppCtrl" layout="column" >
  <div ui-view="header"></div>
  <div layout="row" flex>
    <div ui-view="main1" flex="15"></div>
    <div ui-view="main10" flex="70"></div>
    <div ui-view="main11" flex="15"></div>
  </div>

  <div ui-view="main"></div>
  <div ui-view="main2"></div>
  <div ui-view="footer"></div>
  <div ui-view=""></div>
</body>

<script src="vendor/jquery/dist/jquery.min.js"></script>

<!--
<script src="vendor/jquery-multiselect/jquery.multiselect.js"></script>-->

<script src="vendor/angular/angular.js"></script>
<script src="vendor/ng-img-crop/source/js/ng-img-crop.js"></script>
<script src="vendor/angular-loading-bar/build/loading-bar.min.js"></script>
<script src="vendor/ng-file-upload/ng-file-upload.min.js"></script>
<script src="vendor/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
<script src="vendor/angular-slugify/angular-slugify.js"></script>

<script src="vendor/angular-sanitize/angular-sanitize.js"></script>

<script src="vendor/angular-animate/angular-animate.js"></script>
<script src="vendor/angular-messages/angular-messages.js"></script>
<script src="vendor/angular-material/angular-material.js"></script>
<script src="vendor/angular-aria/angular-aria.js"></script>
<script src="vendor/angular-material-paging/src/angular-material-paging.js"></script>
<script src="vendor/angular-filter/dist/angular-filter.min.js"></script>
<script src="vendor/angular-youtube-mb/src/angular-youtube-embed.js"></script>
<script src="vendor/angular-thumbnails/dist/angular-thumbnails.min.js"></script>
<script src="vendor/ngstorage/ngStorage.min.js"></script>
<script src="vendor/angular-resource/angular-resource.js"></script>
<script src="vendor/angular-cookies/angular-cookies.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>


<script src="app.js"></script>
<script src="app/service2.js"></script>
<script src="app/controller.js"></script>
<script src="app/controller/mediatheque.js"></script>
<script src="app/controller/profils.js"></script>

<script src="app/controller/resultat_recherche.js"></script>
<script src="app/config/resultat_recherche.js"></script>

<script src="app/controller/useraccount.js"></script>
<script src="app/config/useraccount.js"></script>

<script src="app/controller/compte.js"></script>
<script src="app/config/compte.js"></script>

<script src="app/config.js"></script>
<script src="app/filter.js"></script>
<script src="app/constant.js"></script>
<script src="app/directive2.js"></script>



</html>