.plus{
 font-size:0.7em;
}
.titre{
    font-size:6em;
    font-family:Courier New Bold Italic;
}
.home{
    font-size:1.5em;
}
.youtube{
    margin-left: 25%;
}
.cat{
    font-size:1.5em;
}
.filter-col{
    padding-left:10px;
    padding-right:10px;
}

.livre{
    border: 1px solid;
    /* padding: 20px 100px; */
    margin : 5px;
    box-shadow: 10px 10px 5px #888888;
    background-color: ghostwhite;
    height: 250px;
}
.livres{
    border: 1px solid;
    width: 50%;
    margin : 5px;
}
.livdroit{
    text-align: right;
}
.inptimg{
    margin-bottom: -20px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.livre img{
    width: 50px;
    margin-top: 15px;
}

.bar-pagination{
    padding:10px;
}

.drop-box{
   background: white;
    border: 2px solid white;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    width: 770px;
    font-size:17px;
}
.drop-boxi{
   background: gray;
    border: 2px solid white;
    height: 60px;
    text-align: center;
    padding-top: 15px;
    width: 100%;
    font-size:17px;
}
.bouton{
    text-align: center;
}
#inpt{
    border-radius: 20px;
    WIDTH: 100px;
    margin-left: 35px;
    MARGIN-RIGHT: 10px;
}
.dialogs{width: 300px;}

.dialog-header-confirm {
    background-color: #333333;
}
.dialog-header-notify { background-color: #eeeeee; }
.dialog-header-error { background-color: #d2322d; }
.dialog-header-error span, .dialog-header-error h4,
.dialog-header-confirm span, .dialog-header-confirm h4 { color: #ffffff; }

.erreur{
  color:red;
}
body, html{
    height: 100%;
    background-repeat: no-repeat;
    /*background-color: #d3d3d3;*/
    background-color: rgba(12, 12, 12, 0.99);
    font-family: 'Oxygen', sans-serif;
}

.main{
    margin-top: 70px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-login{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 330px;
    padding: 40px 40px;

}

.login-button{
    margin-top: 5px;
}

.login-register{
    font-size: 11px;
    text-align: center;
}
.menu-categorie{
    height: 75%;
    overflow: auto;
}
.menu-categorie td {
    padding: 15px;
}

.menu-categorie-moins{
    padding: 10px;
    border-bottom: 2px solid #e7e7e7;
    font-size: 1.5em;
    text-transform: uppercase;
}
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}
* { box-sizing:border-box; }

/*
body {
    font-family: Helvetica;
    background: #eee;
    -webkit-font-smoothing: antialiased;
}
*/



form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #3ed150;
    border: 1px solid #197f25;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.group {
    position: relative;
    margin-bottom: 35px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background:#3ed150 ;
    color: #FFFFFF;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/*!* Label *!

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: all 0.2s ease;
}


!* active *!

input:focus ~ label, input.used ~ label {
    top: -20px;
    transform: scale(.75); left: -2px;
    !* font-size: 14px; *!
    color: #4a89dc;
}*/


/* Underline */

.bar {
    position: relative;
    display: block;
    width: 100%;
}

/*.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #4a89dc;
    transition: all 0.2s ease;
}*/

.bar:before { left: 50%; }

/*.bar:after { right: 50%; }*/


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}



/* Button */

.button {
    position: relative;
    display: inline-block;
    /*padding: 12px 24px;*/
    /*margin: .3em 0 1em 0;*/
    padding: 12px 24px;
    width:380px;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 0;
    cursor: pointer;
}
.button:focus { outline: 0; }


/* Button modifiers */

.buttonWhite {
    background: #ffffff;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, 0);
}

/*.buttonBlue:hover { background: #357bd8; }*/


/* Ripples container */

.ripples {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
}


/* Ripples circle */

.ripplesCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
}

.ripples.is-active .ripplesCircle {
    animation: ripples .4s ease-in;
}


/* Ripples animation */

@keyframes ripples {
    0% { opacity: 0; }

    25% { opacity: 1; }

    100% {
        width: 200%;
        padding-bottom: 200%;
        opacity: 0;
    }
}


