<div layout="column"  flex class="Login">
   <div flex="95" layout="row" class="Login-content">
       <div  flex="55"  flex-offset="15" flex-sm="50" flex-offset-sm="20" class="tehc"   hide-xs >
           <h5  class="Login-axgrip">
               AXGRIP
           </h5>
           <p class="Login-description">
               Des milliers d'utilisateurs <br> classés selon les profils <br> et les motivations communes...
           </p>
       </div>
       <div   flex="25"   flex-sm="35" flex-xs="100" layout="column" ng-show="affiche" class="Login-above-content">

               <div flex="20"  class="header"  layout="row" layout-align="center center">
                   <div  ><img src="../../image/GRIP_Logo.png" alt="" class="Login-image" ></div>
               </div>
           <div flex="60"  class="content"  >
                   <form  name="myForm"  ng-submit="logino()">

                       <input ng-model="user.name" type="text" placeholder="Compte utilisateur">


                       <input ng-model="user.password" type="password" placeholder="Mot de passe">

                            <md-checkbox ng-model="user.cb1"  style="margin: 15px;" >
                                Se souvenir de moi
                            </md-checkbox>
                       <md-button  type="submit">
                               Valider
                           </md-button>
                       <p><a  layout="row" ng-click="newUser();" layout-align="center center" style="color:black;text-decoration:underline;
                       font-size: small;text-align: center;cursor:pointer;">Mot de passe ou compte utilisateur oublié?</a></p>


                   </form>
               </div>
       </div>
       <div   flex="25"  flex-sm="100" flex-xs="100" layout="column" ng-show="affiche2" class="Login-above-content">

           <div flex="20"  class="header"  layout="row" layout-align="center center">
               <div  ><img src="../../image/GRIP_Logo.png" alt="" class="Login-image" ></div>
           </div>
           <div flex="60"  class="content" class="md-padding" >
               <form  layout-padding="40" name="myForm"  ng-submit="forgot()">
                   <md-input-container class="md-block">
                       <md-icon md-svg-src="../../image/email-filled-closed-envelope.svg" class="email"></md-icon>
                       <input ng-model="user.email" type="email" placeholder="Email (required)" ng-required="true">
                   </md-input-container>
                   <md-button  type="submit">
                       Reinitialiser mot de passe
                   </md-button>
                   <md-tooltip>retourner au login</md-tooltip>
                   <md-icon md-svg-src="../../image/left-arrow-in-circular-button.svg" ng-click="newUser()"
                            aria-label="android " style="color: blue;cursor:pointer;" ></md-icon>
               </form>
           </div>
       </div>
       <div   flex="25"  flex-sm="100" flex-xs="100" layout="column" ng-show="affiche3" class="Login-above-content">

           <div flex="20"  class="header"  layout="row" layout-align="center center">
               <div  ><img src="../../image/GRIP_Logo.png" alt="" class="Login-image" ></div>
           </div>
           <div flex="60"  class="content" class="md-padding" >
               <form  layout-padding="40" name="myForm"  ng-submit="updatespassword()">
                   <md-input-container md-no-float class="md-block">
                       <md-icon md-svg-src="../../image/lock-and-key-icon-silhouette.svg"></md-icon>
                       <input ng-model="user.password" type="password" placeholder="Nouveau mot de passe (required)" ng-required="true">
                   </md-input-container>
                   <md-input-container md-no-float class="md-block">
                       <md-icon md-svg-src="../../image/lock-and-key-icon-silhouette.svg"></md-icon>
                       <input ng-model="user.password" type="password" placeholder="Confirm Nouveau mot de passe (required)" ng-required="true">
                   </md-input-container>
                   <md-button  type="submit">
                       Modifier mot de passe
                   </md-button>
                   <md-icon md-svg-src="../../image/left-arrow-in-circular-button.svg" ng-click="newUser2()"
                            aria-label="android " style="color: blue;" ></md-icon>
               </form>
           </div>
       </div>
   </div>
    <footer flex="5" class="footer" hide-sm hide-xs>
        <div flex class="Login-footer" layout="row">
            <span flex="25" >
             Suivez nous
                    <md-icon md-svg-src="../../image/linkedin-logo.svg" aria-label="android " class="Login-footer-icon1" style="color: deepskyblue;"></md-icon>
                    <md-icon md-svg-src="../../image/twitter-logo-on-black-background.svg" aria-label="android " class="Login-footer-icon1"style="color: deepskyblue;"></md-icon>
                    <md-icon md-svg-src="../../image/facebook-logo.svg" aria-label="android " style="color: deepskyblue;" class="Login-footer-icon1"></md-icon>
                    <md-icon md-svg-src="../../image/google-plus-logo-on-black-background.svg" aria-label="android " style="color: deepskyblue;" class="Login-footer-icon1"></md-icon>
            </span>
            <span flex="25" flex-offset="50" style="text-align-last: right;">
                All right reserved &copy; AshdownX
            </span>
        </div>
    </footer>
</div>

