<div class="livres" >
    <div class="row">
        <div class="col col-md-8 all">
            <p>
                Nom du media: {{media.nom}}
            </p>

            <p>
                Description: {{media.description}}
            </p>
            <p>
                Lu : {{media.readed}}
            </p>
            <p>
                Telecharger : {{media.downloaded}}
            </p>
            <p>
                <a href="./img/+{{media.link}}">lien vers le document</a>
            </p>

            <span></span>
            <span> </span>

        </div>
        <div class="col col-md-4">
            <div class="row" style="margin-top: -12px; text-align: center;margin-right: 10px;">
                <img ng-src="{{media.logo}}" alt="">
                <h5>LOGO</h5>
                <hr>
            </div>
            <div class="row" style="margin-left: -50px;">

                <a ui-sref="updateLivre({id:media._id})" class="glyphicon glyphicon-pencil cat" title="Modifier le document">
                </a>

                <a href="/download/{{media._id}}" ng-click="telecharger(media._id)" title="Telecharger le document"
                   class="glyphicon glyphicon-download-alt cat">


                </a>
                <a ng-click="launch('confirm')" class="glyphicon glyphicon-trash cat" title="supprimer le document">
                </a>



            </div>
        </div>

    </div>
</div>



</div>


</div>