<div  layout="column"  flex class="accueil"  style="background-color: rgb(34,34,34);">
    <div flex="15" flex-xs="15" style="background-color: rgb(5,170,245);" layout="row">
        <div flex="40"></div>
        <div flex="20"  layout="row" flex-xs="30" >
            <div ui-sref="axgrip.accueil" style="cursor:pointer;">
                <img src="../../image/GRIP_Logo.png" alt="" class="accueil-img" >
            </div>
        </div>
    </div>
    <div flex="85" flex-xs="100" layout="row" layout-xs="column" style="overflow-y:auto;height: 530px ">
        <div flex="15" flex-xs="100" flex-order-xs="2"  class="md-padding" layout="column" style="background-color: rgb(51,54,64);overflow: auto;;min-height:500px;border-right: 2px solid rgb(5,170,245);" >
            <div flex="5"></div>
            <div flex="10">
                <u class="descriptioncat_med">Nom:</u><br>
                {{media.nom}}
                <md-divider></md-divider>
            </div>
            <div flex="25">
                <u class="descriptioncat_med">Description:</u><br>
                {{media.description}}
                <md-divider></md-divider>
            </div>
            <div flex="5">
                <u class="descriptioncat_med">Lu:</u>
                {{media.readed}}
                <md-divider></md-divider>
            </div>
            <div flex="5">
                <u class="descriptioncat_med">Notation:</u>
                {{media.rate}}
                <md-divider></md-divider>
            </div>
            <div flex="5">
                <u class="descriptioncat_med">Téléchargé:</u>
                {{media.downloaded}}
                <md-divider></md-divider>
            </div>
        </div>
        <div flex="85" flex-xs="100" flex-order-xs="1" style="text-align: center;">
            <div ng-if="affiche == 'video'" flex class="accueil"  style="color:white;background-color: rgb(34,34,34);" layout="column">
                <div flex="10"></div>

                <div flex="80" flex-xs="100" layout-align="center">
                    <video width="90%" height="90%" class="youtube" controls>
                        <source ng-src="{{media.link}}">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div flex="10"></div>
            </div>

            <div ng-if="affiche == 'audio'" flex class="accueil"  style="color:white;background-color: rgb(34,34,34);" layout="column">
                <div flex="10"></div>
                <div flex="80" flex-xs="100" layout-align="center" style="text-align: center;">
                    <audio class="youtube" controls>
                        <source ng-src="{{media.link}}" type="audio/mp3">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <div flex="10"></div>

            </div>

            <div ng-if="affiche == 'pdf'" flex class="accueil"  style="color:white;background-color: rgb(34,34,34);" layout="column">
                <div flex style="text-align: center;">
                    <object data="{{media.link}}" type="application/pdf" width="100%" height="100%">
                        <p><b>Example fallback content</b>: Ce navigateur ne supporte pas les PDFs. Veillez télécharger le PDF à ce lien <a href="{{media.link}}">Télécharger</a>.</p>
                    </object>
                </div>



            </div>
            <div ng-if="affiche == 'youtube'" flex class="accueil"  style="color:white;background-color: rgb(34,34,34);" layout="column">
                <div flex="10"></div>
                <div flex="80" flex-xs="100" layout-align="center" style="text-align: center;">
                    <youtube-video video-id="theBestVideo" player="bestPlayer" class="youtube"
                                   player-width="'90%'" player-height="'90%'"></youtube-video>
                    <br>
                    <a ng-click="bestPlayer.playVideo()" title="play button"><span class="glyphicon glyphicon-play home" style="margin-left: 40%"
                                                                                   aria-hidden="true"></span></a>
                    <a ng-click="bestPlayer.stopVideo()" title="stop button"><span class="glyphicon glyphicon-stop home"
                                                                                   aria-hidden="true"></span></a>
                </div>
                <div flex="10"></div>



            </div>
        </div>
    </div>
</div>








