<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="tableaudebord">
                <div class='container'>
                    <h1>Nouvelle categorie</h1>
                    <hr>

                    <form class="form-horizontal"  name="form" role="form"  ng-submit="ajoutercategorie()">

                        <div class='row'>

                            <div class="">

                                <div class="form-group" >
                                    <label for="civilite" class="col-sm-2 control-label">Nom :</label>
                                    <div class="col-sm-8" ng-class="{'erreur':form.name.$error&&form.name.$touched}">
                                        <input ng-model="categorie.nom" type="text" class="form-control"
                                               ng-minlength="3"
                                               ng-maxlength="8"
                                               name="name" id="civilite" required>
                                        <div ng-messages="form.name.$error" ng-if="form.name.$touched" >
                                            <p ng-message="minlength">name is too short.</p>
                                            <p ng-message="maxlength"> name is too long.</p>
                                            <p ng-message="required"> name is required.</p>
                                        </div>
                                    </div>


                                </div>


                            <div class="form-group">
                                <label for="description" class="col-sm-2 control-label">Description :</label>
                                <div class="col-sm-8" ng-class="{'erreur':form.description.$error&&form.description.$touched}">
                                    <textarea ng-model="categorie.description" name="description"
                                              ng-minlength="10"
                                              ng-maxlength="30"
                                              id="description"  class="form-control" cols="30" rows="4" required></textarea>
                                    <div ng-messages="form.description.$error" ng-if="form.description.$touched">
                                        <p ng-message="minlength">Description is too short.</p>
                                        <p ng-message="maxlength">Description is too long.</p>
                                        <p ng-message="required">Description is required.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group bouton">
                                <button class="btn btn-info" type="reset">Actualiser</button>
                                <button class="btn btn-danger">Annuler</button>
                                <button class="btn btn-primary" ng-disabled="form.$invalid" type="submit">Enregister</button>
                            </div>


                        </div>


                        </div>
                </form>



        </div>
    </div>
</div>
</div>
</div>