<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="tableaudebord">
                <div class='container'>
                    <h1>Nouveau livre</h1>
                    <hr>

                    <form class="form-horizontal" name="myForm" role="form"  ng-submit="ajouterlivre()">

                        <div class='row'>

                            <div class="">
                                <!--<form class="form-horizontal" role="form">-->
                                <div class="form-group" >

                                    <label for="civilite" class="col-sm-2 control-label">Nom :</label>
                                    <div  ng-class="{'erreur':myForm.name.$error&&myForm.name.$touched}"
                                          class="col-sm-6" >
                                        <input ng-model="livre.nom" name="name" type="text" class="form-control"
                                               name="name" ng-minlength="4"
                                               ng-maxlength="8" id="civilite" required >
                                       <!-- ng-class="{'erreur':myForm.name.$error&&myForm.name.$touched}"-->


                                        <div ng-messages="myForm.name.$error" ng-if="myForm.name.$touched">
                                            <p ng-message="minlength">Your name is too short.</p>
                                            <p ng-message="maxlength">Your name is too long.</p>
                                            <p ng-message="required">Your name is required.</p>
                                        </div>


                                </div>
                                    <div class="col-sm-2">
                                        {{livre.nom}}
                                    </div>





                                </div>
                                <div class="form-group">
                                    <label for="logo" class="col-sm-2 control-label"> LOGO: </label>
                                    <label for="logo" class="col-sm-2 btn btn-primary control-label" style="text-align: center;margin-left: 18px;">
                                           changer de logo </label>
                                    <div class="col-md-6">
                                        <!--<input type="file" ng-model="livre.nom" class="form-control" name="prenom" id="prenom">-->


                                            <input id="logo" name="logo" type="file" ngf-drop ngf-select ng-model="livre.logo" class="drop-box"
                                                 ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                                                 accept="image/*" ngf-max-size="10MB" style="display: none"
                                                 ngf-pattern="'image/*'" />
                                        <span ng-show="myForm.logo.$error.pattern">Allowed formats are 'image/*' </span>
                                        <div ng-messages="myForm.logo.$error" ng-if="myForm.logo.$touched" >
                                            <p ng-message="maxSize"> File  must be lower than 10MB..</p>
                                            <p ng-message="required"> logo  is required.</p>


                                    </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <img ngf-src="livre.logo" class="thumb ng-hide" style="height: 35px">
                                    </div>


                                </div>
                                <div class="form-group">
                                    <label for="link" class="col-sm-2 control-label">Fichier :</label>
                                    <div class="col-sm-6" >
                                        <!--<input type="file" id="link" ng-model="livre.link" class="form-control" name="email" id="email">-->
                                        <div class="row" >
                                            <input id="fichier" type="radio" ng-model="livre.tlink" value="fichier"> <label for="fichier">Fichier</label>
                                            <input id="url" type="radio" ng-model="livre.tlink"  value="url"> <label for="url">Url</label>
                                        </div>
                                       <div ng-show="livre.tlink=='url'">
                                          <!-- <input  type="url" class="form-control" >-->
                                           <input ng-model="livre.link.text"   class="form-control" accept="text/plain"
                                                  ngf-pattern="'text/plain'">
                                           <input type="button" value="submit" ng-click="add_status()"><br>
                                       </div>

                                        <input ng-show="livre.tlink=='fichier'" id="link" name="link" type="file" ngf-drop ngf-select ng-model="livre.link.file" class="drop-box"
                                             ngf-drag-over-class="'dragover'" ngf-multiple="false" ngf-allow-dir="false"
                                             accept="image/*,application/pdf,audio/mp3,video/mp4" ngf-max-size="30MB"
                                             ngf-pattern="'image/*,application/pdf,audio/mp3,video/mp4'">


                                        <div class="col-sm-4">
                                            <div ng-hide="livre.link.text.length">
                                                <img  ng-src="{{affiche}}" width="50" height="50" >
                                                <br>
                                                <p >
                                                    Audio preview: <audio controls ngf-src="livre.link.file" class="thumb ng-hide"></audio>
                                                </p>
                                                <br>
                                                <p >
                                                    Video preview: <video controls ngf-src="livre.link.file" class="thumb ng-hide"></video>
                                                </p>
                                                <br>
                                                <p>
                                                    <thumbnail file-type="video" source="img/link/1470932394190-Eden_-_Esprit_de_Dieu.MP4" max-height="150" max-width="300"></thumbnail>
                                                </p>


-->

                                            </div>
                                            <!--<div ng-show="livre.link.text.length" class="form-control" >
                                                {{livre.link.text}}
                                            </div>-->
                                            <div ng-bind-html="response_data"></div>
                                        </div>


                                        <span ng-show="myForm.link.$error.pattern">Allowed formats are 'image/*,application/pdf,audio/mp3,video/mp4' </span>
                                        <div ng-messages="myForm.link.$error" >
                                            <p ng-message="maxSize"> File  must be lower than 30MB..</p>
                                            <!--<p ng-message="required"> Document  is required.</p>-->


                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="categorie" class="col-sm-2 control-label">Categorie :</label>
                                    <div class="col-sm-8">
                                        <select ng-model="livre.categorie" name="categorie" class="form-control" id="categorie" required>
                                            <option ng-repeat="cat in categories" value="{{cat._id}}">{{cat.nom}}</option>
                                        </select>
                                        <div ng-messages="myForm.categorie.$error" ng-if="myForm.categorie.$touched">
                                            <p ng-message="required">Document categorie is required.</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description" class="col-sm-2 control-label">Description :</label>
                                    <div class="col-sm-8">
                                        <textarea ng-model="livre.description" name="description" id="description"  class="form-control"
                                                  ng-minlength="10"
                                                  ng-maxlength="30"
                                                  cols="30" rows="4" required></textarea>
                                        <div ng-messages="myForm.description.$error" ng-if="myForm.description.$touched">
                                            <p ng-message="minlength">Description is too short.</p>
                                            <p ng-message="maxlength">Description is too long.</p>
                                            <p ng-message="required">Description is required.</p>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group bouton">
                                    <button class="btn btn-info" type="reset">Actualiser</button>
                                    <button class="btn btn-danger">Annuler</button>
                                    <button class="btn btn-primary" ng-disabled="myForm.$invalid" type="submit">Enregister</button>
                                </div>

                            </div>


                        </div>
                    </form>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

                </div>
            </div>
        </div>
    </div>
</div>
