<div  layout="column"  flex class="accueil"  style="background-color: rgb(34,34,34);">
    <div flex="10" layout="row" layout-align="center center" style="background-color: rgb(5,170,245);" >
        <md-sidenav class="md-sidenav-right md-whiteframe-z2"
                    md-component-id="right">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Menus</span>
                    </h2>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Close Side Panel" ng-click="closeSideNavPanel()">
                        <md-tooltip>Fermer le Menu</md-tooltip>
                        <md-icon md-svg-src="../../image/close-button.svg"></md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content layout-padding="">
                <md-list style="cursor:pointer;color:black">
                    <md-list-item ui-sref="axgrip.accueil">
                        <md-icon md-svg-src="../../image/home.svg" style="color:black;cursor:pointer;"></md-icon>
                        <p >Accueil</p>
                    </md-list-item>
                    <md-list-item ui-sref="axgrip.mediatheque">
                        <md-icon md-svg-src="../../image/library.svg" style="color:black;cursor:pointer;"></md-icon>
                        <p >Médiathèque</p>
                    </md-list-item>
                    <md-list-item ui-sref="axgrip.profils">
                        <md-icon md-svg-src="../../image/list.svg" style="color:black;cursor:pointer;"></md-icon>
                        <p >Profils</p>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <md-toolbar >
            <div class="md-toolbar-tools" >
                <div flex="5" flex-xs="15" layout="row" hide-gt-sm="">
                    <md-button class="md-icon-button" ng-click="openSideNavPanel()"  >
                        <md-tooltip>Menu</md-tooltip>
                        <img src="../image/menu.png" style="width:24px;height:24px;"/>
                    </md-button>
                </div>
              <div flex="15" layout="row" hide-xs >
                    <div ui-sref="axgrip.accueil" style="cursor:pointer;">
                        <img src="../../image/GRIP_Logo.png" alt="" class="accueil-img" >
                    </div>
                </div>
                <div flex="5"></div>
                <div flex="35" flex-xs="60" layout="row" layout-align="center center"  >
                    <div flex="90">
                        <input class="input2" ng-model="search" ng-change="rechercher()" type="search" style="color:black;background-color:white;">
                    </div>
                    <div flex="10" >
                        <img src="../image/search.png" ui-sref="axgrip.resultats_recherche.profil" style="width: 34px;  height: 34px;background-color: skyblue;cursor:pointer;"/>
                    </div>
                </div>
                <div flex="10"></div>
                <div flex="45"  class="accueil-menu" hide-xs>
                    <md-tabs  md-selected="selectedTab" class="accueil-button" md-dynamic-height flex>
                            <md-tab  data-ui-sref="axgrip.accueil" >
                                <md-tab-label> accueil</md-tab-label>
                            </md-tab>

                        <md-tab data-ui-sref="axgrip.mediatheque">
                            <md-tab-label  >médiathèque</md-tab-label>
                        </md-tab>
                        <md-tab data-ui-sref="axgrip.profils" >
                            <md-tab-label  >profils</md-tab-label>
                        </md-tab>
                    </md-tabs>
                </div>
                <div flex="10" flex-xs="30" layout="row" layout-align="center end" >
                    <md-menu-bar>
                        <md-menu>
                            <button ng-click="$mdOpenMenu()">
                                <img ng-src="{{photo}}" alt="" class="img" style="width: 5%;height: 10%;
                                background-color: skyblue;position: fixed;right: 0px;top: 0;">
                            </button>
                            <md-menu-content>
                                <md-menu-item>
                                    <md-button  ng-click="compteuser()">
                                        Profil
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="deconnexionaction('Déconnexion',$event)">
                                        Déconnexion
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-menu-bar>

                </div>

            </div>

        </md-toolbar>

    </div>
</div>