
<div  layout="column"  flex="100" class="accueil"  style="background-color: rgb(34,34,34);" ng-intro-options="IntroOptions" ng-intro-method="CallMe"
      ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
      ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
      ng-intro-onafterchange="AfterChangeEvent"
      ng-intro-autostart="ShouldAutoStart">
    <div flex layout="row">
        <div flex="20" id="step8" flex-sm="50" flex-md="50" flex-xs="100" ng-if="profil" layout="column" class="md-padding" layout-xs="column" class="prof" style="background-color: rgb(51,54,64);overflow: auto;border-right: 2px solid rgb(5,170,245);" >
            <div flex="5"></div>
            <div flex="10">
                <u class="descriptioncat_med">Nom:</u><br>
                {{profil.nom}}
                <md-divider></md-divider>
            </div>
            <div flex="40" style="overflow-y: auto;">
                <u class="descriptioncat_med">Description:</u><br>
                {{profil.description}}
                <md-divider></md-divider>
            </div>
            <div flex="40" style="overflow-y: auto;" >
                <u class="descriptioncat_med">Objectifs du profil:</u><br>

                <ol>
                    <li  ng-repeat="ct in profil.objectifs |unique">
                        {{ct}}
                    </li>
                </ol>
                <md-divider></md-divider>
            </div>
            <div flex="5"> {{profil.categorieprofil.length}} &nbsp;catégories
                <md-divider></md-divider>
            </div>
            <div flex="5">
               <md-button class="md-raised md-primary" permission="['admin']" ui-sref="axgrip.modifprofil({id:profil._id})">Modifier le profil</md-button>
            </div>
        </div>
        <div flex="5" ng-class="{'flex-10': !profil}" ng-hide="profil"></div>
        <div flex="70" layout="column" ng-class="{'flex-85': !profil}">
            <div flex="5" ng-hide="profil"></div>
            <div flex="5" layout="row" flex-xs="25">
                <div flex="25"  ng-if="profile">
                    <h1 style="font-size: 20px">Liste des profils</h1>
                </div>
                <div flex="65" ng-show="profile">
                    <input ng-model="searchprof" id="step7" class="reduceSize" style="text-align: center;" placeholder="entrer la recherche">
                </div>
                <div flex ng-if="profil" hide-gt-xs> <h2> Liste des catégories</h2></div>
            </div>
            <div flex="5" ng-if="profil" style="text-align: center" hide-xs> <h2> Liste des catégories</h2></div>
            <div flex="5"></div>
            <div layout="row" flex="75"  flex-xs="100" flex-sm="75" flex-md="75" class="med_xss" layout-wrap>
                <div id="step6" layout="column" ng-repeat="prf in filteredprofile=( profils |filterBy: ['nom','description']:searchprof )"  >
                    <md-card class="cardprofil" style="color:black;">
                        <md-card-title>
                            <md-card-title-text  style="cursor:pointer ;padding-left: 13px">
                                <span class="md-headline" ng-click="triscat(prf);">
                                    Nom:{{prf.nom}}
                                </span>
                                <span class="md-subhead" ng-click="triscat(prf);">
                                    Description:{{prf.description}}
                                </span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="center center" class="cardi">
                            <md-button permission="['admin']"  style="background-color: transparent" class="card-button" ng-click="showConfirmdelprof($event,prf)" aria-label="a">
                                <md-tooltip>Supprimer le profil</md-tooltip>
                                <md-icon md-svg-src="../../image/rubbish-bin-delete-button.svg" class="card-icon"></md-icon>
                            </md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div layout="row" flex="30" id="step9" ng-repeat="ct in profil.categorieprofil | orderBy:'rang'" style="color:black;margin-left:12px">
                    <md-card class="cardprofcat " >
                        <md-card-title>
                            <md-card-title-text style="cursor:pointer;padding-left: 12px;">
                                <span class="md-headline"  ui-sref="axgrip.categorie({id:ct._id})">
                                    Nom:{{ct.nom}}
                                </span>
                                <span class="md-subhead" ui-sref="axgrip.categorie({id:ct._id})">
                                    Description:{{ct.description}}
                                </span>
                            </md-card-title-text>
                        </md-card-title>
                    </md-card>
                </div>
                <div ng-if="profnew" flex="80">
                    <form  name="Formmodifprof"  style="overflow: auto;color:white;">
                        <md-content class="md-no-momentum newuser">
                            <div >

                                <label>objectifs du profil</label>
                                <md-icon md-svg-src="../../image/email-filled-closed-envelope.svg" class="email"></md-icon>
                                <table>
                                    <tr ng-repeat="name in profnew.data track by $index">
                                        <td> <input type="text" ng-model="profnew.data[$index]"></td>
                                        <td><button class="remove" ng-click="addRow($index)"  ng-show="$last" >+</button></td>
                                        <td><button class="remove" style="background-color: #C76868;" ng-click="deleteRow($event,$index)"  ng-show="$index != 0">-</button></td>
                                    </tr>
                                </table>
                            </div>
                            <md-input-container  class="md-icon-float md-block">
                                <label>Nom</label>
                                <md-icon md-svg-src="../../image/menu-button.svg" class="name"></md-icon>
                                <input  type="text" ng-minlength="5"
                                        md-maxlength="60" name="nom" ng-model="profnew.nom">
                                <div ng-messages="Formmodifprof.nom.$error">
                                    <div ng-message="md-maxlength">la taille ne doit pas depasser 60</div>
                                    <div ng-message="md-minlength">le nom doit être au moins de 710caracteres</div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label>catégories du profil</label>
                                <md-icon md-svg-src="../../image/web-design.svg" style="display:inline-block;"></md-icon>
                                <md-select multiple ng-model="profnew.categorie" >
                                    <md-option ng-repeat="ct in categories" value="{{ct._id}}">{{ct.nom}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label>Description du profil</label>
                                <md-icon md-svg-src="../../image/email-filled-closed-envelope.svg" class="email"></md-icon>
                                             <textarea   ng-minlength="10" md-maxlength="150"
                                                         aria-label="deux" name="description" ng-model="profnew.description">
                                             </textarea>
                                <div ng-messages="Formmodifprof.description.$error">
                                    <div ng-message="required">la description est obligatoire</div>
                                    <div ng-message="md-maxlength">la taille ne doit pas depasser 150</div>
                                    <div ng-message="md-minlength">le nom doit être au moins de 10 caracteres</div>
                                </div>
                            </md-input-container>
                            <md-button class="md-raised md-primary"  ng-disabled="Formmodifprof.$invalid" ng-click="modifprof()">Envoyer</md-button>
                            <br><br>
                        </md-content>
                    </form>
                </div>

            </div>

            <div flex="10"  layout="row" ng-hide="profnew">
                <div flex="80" hide-xs></div>
                <div flex="10" flex-xs="100" >
                    <wan-material-paging wmp-total="total" goto-page="gotoPage()" position="center" current-page="currentPage" step="step">
                    </wan-material-paging>

                </div>
            </div>


        </div>
        <div flex="20" ng-if="profil" layout="column" hide-xs style="border-left: 2px solid rgb(5,170,245);">
            <div flex="50" layout="column">
                <md-content style="background-color: rgb(51,54,64);color:white;overflow-y: auto;height:100px;"
                            class="stage_list" flex>
                    <section >
                        <md-subheader id="step10" >Liste des encadreurs</md-subheader>
                        <md-list class="" style="color:white">
                            <md-list-item class="md-3-line list_stage"
                                          ng-repeat="item in profil.userprofil | unique: 'name'">
                                <img ui-sref="axgrip.useraccount({id:item._id})" ng-src="{{item.photo}}?{{$index}}" class="md-avatar" alt="{{item.name}}">
                                <div class="md-list-item-text">
                                    <a ui-sref="axgrip.useraccount({id:item._id})" style="text-decoration: none;">
                                        <h3 style="color:white;cursor:pointer;font-size: 12px">{{item.name}}</h3>
                                    </a>
                                </div>
                                <md-divider md-inset ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </section>
                </md-content>
            </div>
            <div flex="50" layout="column">
                <md-content style="background-color: rgb(51,54,64);color:white;overflow-y: auto;height:100px;"
                            class="stage_list" flex>
                    <section >
                        <md-subheader id="step11">Utilisateurs ayant achevé le profil</md-subheader>

                        <md-list class="" style="color:white;">
                            <md-list-item class="md-3-line list_stage"
                                          ng-repeat="i in profil.users | unique: 'name'">
                                <img ui-sref="axgrip.useraccount({id:item._id})" ng-src="{{i.photo}}?{{$index}}" class="md-avatar" alt="{{i.name}}">
                                <div class="md-list-item-text">
                                    <a ui-sref="axgrip.useraccount({id:i._id})" style="text-decoration: none;">
                                        <h3 style="color:white;cursor:pointer;font-size: 12px">{{i.name}}</h3>
                                    </a>
                                </div>
                                <md-divider md-inset ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </section>
                </md-content>
            </div>

        </div>
    </div>

</div>