<div  layout="row"  flex class="accueil"  style="background-color: rgb(34,34,34);"
      ng-intro-options="IntroOptions" ng-intro-method="CallMe"
      ng-intro-oncomplete="CompletedEvent" ng-intro-onexit="ExitEvent"
      ng-intro-onchange="ChangeEvent" ng-intro-onbeforechange="BeforeChangeEvent"
      ng-intro-onafterchange="AfterChangeEvent"
      ng-intro-autostart="ShouldAutoStart">
    <div flex="25" ng-if="aff_med" layout="column" style="background-color: rgb(51,54,64);overflow-y: auto;border-right: 2px solid rgb(5,170,245);min-height: 580px; ">
        <div flex="100" >
            <ul id="step6">
                <li ng-repeat="prf in profile">
                    {{ prf.nom }}
                    <ul>
                        <li  ng-repeat="cat in prf.categories"  ng-click="tri(cat,prf);" style="cursor:pointer;">
                            <span>{{cat.nom}} &nbsp;{{cat.etat}}</span>
                            <span permission="['admin']">
                                <md-checkbox id="checkbox"   aria-label="checkbox" ng-click="toggles(cat,prf)"></md-checkbox>
                            </span>
                        </li>
                    </ul>
                    <div layout-align="space-around">
                        <div flex="80">
                            <md-progress-linear md-mode="determinate" value="{{prf.progressuser}}"></md-progress-linear>
                        </div>
                        <div flex="5"></div>
                        <br>
                        <div flex="15">
                            {{prf.progressuser}}%
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div flex="25" ng-if="aff_don || aff_profter " layout-xs="row"  layout="column" style="background-color: rgb(51,54,64);overflow-y: auto;border-right: 2px solid rgb(5,170,245);min-height: 580px; ">
        <div flex="100"  >
            <ul>
                <li ng-repeat="prf in profile">
                    {{ prf.nom }}
                    <ul>
                        <li  ng-repeat="cat in prf.categories"  ng-click="tri(cat,prf);" style="cursor:pointer;">
                            <span>{{cat.nom}} &nbsp;{{cat.etat}}</span>
                        </li>
                    </ul>
                    <div layout-align="space-around">
                        <div flex="80">
                            <md-progress-linear md-mode="determinate" value="{{prf.progressuser}}"></md-progress-linear>
                        </div>
                        <div flex="5"></div>
                        <div flex="15">
                            <br>
                            {{prf.progressuser}}%
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div flex="5"></div>
    <div layout="column"  flex="65">
        <div flex="10" layout="row" style="padding-top: 1em;">
            <md-menu-bar>
                    <button id="step7" ui-sref="axgrip.user({id:iduser})"  style="background-color: white;">
                        user
                    </button>
                    <button id="step8" ui-sref="axgrip.profil_termines({id:iduser})" style="background-color: white;">
                        profils
                    </button>
                    <button id="step9" ui-sref="axgrip.useraccount({id:iduser})" style="background-color: white;">
                        Médias
                    </button>
            </md-menu-bar>
        </div>
        <md-divider></md-divider>
        <div flex="60" flex-xs="70" layout="row" layout-wrap ng-if="aff_med" class="med_xs">
            <div ng-repeat="m in allmedias" flex="25" flex-xs="100" flex-sm="50" flex-md="30">
                <div layout="column"  class='md-padding pacard' flex layout-wrap>
                    <md-card class="card" style="color:black;">
                        <md-card-title  style="width: 100px;height: 100px;padding: 0px 1px;margin-left: 0em;">
                            <md-card-title-text style="margin-right: 1em;" layout="column">
                                <div flex="30" layout="row">
                                    <div flex="25"  class=" md-padding">
                                        <span class="md-headline" style="font-size: 15px">{{m.nom}}</span>
                                    </div>
                                    <div flex="70"></div>
                                    <div flex="5">
                                        <img ng-src="{{m.logo}}" style="width: 40px;height: 40px"  alt="" >

                                    </div>
                                </div>
                                <div flex="70" class=" md-padding" style="width: 140px;">
                                    <span class="md-subhead" style="font-size: 10px">Lu:{{m.readed}}</span>
                                    <br>
                                    <span class="md-subhead" style="font-size: 10px">Télecharger:{{m.downloaded}}</span><br>
                                                <span class="md-subhead" style="font-size: 10px"><a ng-click="lire(m)" ui-sref="document({id:m._id})" style="cursor:pointer;">{{m.affiche}}</a>
                                                </span>
                                </div>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="start center" class="cardi">

                        </md-card-actions>
                    </md-card>
                </div>
            </div>

        </div>
        <div flex="60"  flex-xs="70" ng-if="aff_don" layout="column">
            <div flex="10">
                Nom:{{users.name}}
            </div>
            <div flex="5">
                adresse-email:{{users.email}}
            </div>
            <div flex="25">
                peut noter :
                <ol>
                    <li ng-repeat="u in users.master">
                        {{u.nom}}
                    </li>
                </ol>
                <div ng-hide="users.master">
                    Ne peut noter un média
                </div>
            </div>
            <div flex="30">
                groups :
                <ol>
                    <li  ng-repeat="u in users.groups">
                        {{u.nom}}
                    </li>
                </ol>
                <div ng-hide="users.groups.length >0">
                    Aucun groupe
                </div>
            </div>
            <div flex="30" ng-show="users.encadreur">
               encadreur:
                <ol>
                    <li ng-repeat="u in users.encadreur">
                        {{u.nom}}
                    </li>
                </ol>
                <div ng-hide="users.encadreur.length >0">
                    N'encadre aucun profil
                </div>

            </div>
        </div>
        <div flex="60"  flex-xs="70" ng-if="aff_profter">Profils terminés:
            <ol>
                <li  class="un" ng-repeat="p in profile | filterBy: ['progressuser']: 100">
                    {{p.nom}}

                </li>
            </ol>
            <div  ng-show="(profile| filterBy: ['progressuser']: 100).length == 0">
                    Aucun profil terminé
            </div>

        </div>
        <div flex="10"></div>
        <div flex="5"  flex-xs="10" layout="row" ng-if="aff_med">
            <div flex="50" hide-xs></div>
            <div flex="50" flex-xs="100" >
                <wan-material-paging  wmp-total="total" goto-page="gotoPage()" position="end" current-page="currentPage" step="step">
                </wan-material-paging>
            </div>
        </div>


    </div>
</div>