<div layout="column" flex class="accueil" style="background-color: rgb(34,34,34);">
    <div flex="100" layout="column">
        <div flex layout="column" style="background-color: rgb(51,54,64);border-right: 2px solid rgb(5,170,245);" hide-xs>
            <input ng-model="searchprofcat" class="reduceSize" style="text-align: center" placeholder="entrer la recherche">
            <div style="text-align: center"><h3>Liste des profils</h3></div>
            <ul style="overflow-y: auto;min-height: 455px;">
                <li style="display: block;" class="un"
                    ng-repeat="prf in filteredprofile=( profile |filterBy: ['nom','description','objectifs']:searchprofcat)">
                    {{ prf.nom }}
                    <ul>
                        <li ng-repeat="ct in prf.categories"
                            ng-click="tri(ct);" style="cursor:pointer;margin-bottom:22px">
                            {{ct.nom}} <br>{{ct.etat}}
                        </li>
                    </ul>
                    <div layout-align="space-around">
                        <div flex="80">
                            <md-progress-linear md-mode="determinate"
                                                value="{{prf.progressuser}}"></md-progress-linear>
                            <br>
                        </div>
                        <div flex="5"></div>
                        <div flex="15">
                            <br>
                            {{prf.progressuser}}%
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>