<div layout="column" flex class="accueil" style="background-color: rgb(34,34,34);">
    <div flex="100" layout="column">
        <div flex layout="column" style="background-color: rgb(51,54,64);border-right: 2px solid rgb(5,170,245);" hide-xs>
            <input id="step6" ng-model="searchprofcat" class="reduceSize" style="text-align: center" placeholder="entrer la recherche">
            <div style="text-align: center"><h3>Liste des profils</h3></div>
            <div   ng-if="profile.length==0">
                <h2>
                    Aucun profil de
                    <p style="text-align: center">formation</p>
                </h2>
            </div>
            <ul style="overflow-y: auto;min-height: 455px;" id="step7">
                <li style="display: block;cursor:pointer;" class="un" ui-sref="axgrip.profil({id:prf._id})"
                    ng-repeat="prf in filteredprofile=( profile |filterBy: ['nom','description','objectifs']:searchprofcat)">
                    {{ prf.nom }}
                    <ul>
                        <li  ng-repeat="ct in prf.categories"
                             ui-sref="axgrip.categorie({id:ct._id})" style="cursor:pointer;margin-bottom:22px">
                            {{ct.nom}} <br>{{ct.etat}}
                        </li>
                    </ul>
                    <div layout-align="space-around">
                        <div flex="80">
                            <md-progress-linear  md-mode="determinate"  ng-class="{'red': (prf.progressuser|progressbar)=='red',
                            'orange': (prf.progressuser|progressbar)=='orange','blue': (prf.progressuser|progressbar)=='blue',
                            'green': (prf.progressuser|progressbar)=='green'}"
                                                value="{{prf.progressuser}}"></md-progress-linear>
                            <br>
                        </div>
                        <div flex="5"></div>
                        <div flex="15"  ng-class="{
                            'green': (prf.progressuser|progressbar)=='green',
                                        'blue': (prf.progressuser|progressbar)=='blue',
                                        'orange': (prf.progressuser|progressbar)=='orange',
                                        'red': (prf.progressuser|progressbar)=='red'   }">
                            {{prf.progressuser}}%
                        </div>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</div>